@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Edwardian Script ITC";
  src: local("Edwardian Script ITC"),
    url("/assets/fonts/edwardian-script-itc.ttf") format("truetype");
}

@font-face {
  font-family: "Baskerville Old Face";
  src: local("Baskerville Old Face"),
    url("/assets/fonts/baskerville-old-face.ttf") format("truetype");
}

.font-edwardian {
  font-family: "Edwardian Script ITC";
}

.font-baskervville {
  font-family: "Baskerville Old Face", serif;
}
